<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Suggestions</title>

  </head>

  <body>
    <div class="jumbotron">
      <h1>SUGGESTIONS</h1>
    </div>


<div class="dropdown">
<button onclick="myFunction()" class="dropbtn">Menu</button>
  <div id="myDropdown" class="dropdown-content">
     {{#each data.buttons}}
	<a href="{{link}}" ><p>{{name}}</p></a>
     {{/each}}
  </div>
</div>	

<button onclick="identifyWeakness()" class="btn">Score</button>

    {{#each data.categories}}
    	<p>{{category}} has a score of {{score}}</p>
    {{/each}}

<script>
function identifyWeakness() {
	var data = $(this).data;
	var headers = Object.keys(data);
	console.log(data);
}	
</script>

<h1> Suggestions: </h1> 
{{#each data.suggestions}}
<h4>{{idea}}</h4>
{{/each}}
<p>{{data.suggestions.one}}</p>

  <!--Ugly link back to home page-->
  <p><a href="/">Back &raquo;</a></p>

  <script>

/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction() {
	 console.log("myfunction running");
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
  </script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/introHCI.js"></script>
  </body>
</html>
